body{
    background-color:#7F9BD4;
}

h1{
    text-align: center;
    border: solid black 1px;
    color: white;
    background-color:red;
    width:300px;
    display: table-header-group;
}

h2{
    justify-self: anchor-center;
}

#Ruleset{
    background-color: #F5F5F5;
    border: solid black 1px;
    padding-right: 20px;
}

#Names{
    background-color: white;
    border: solid black 1px;
    width: 350px;
    font-size: 20px;
}

#Button {
    background-color: cadetblue;
    font-size: 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#RulesButton{
    background-color: orange;
    font-size: 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

#TeamworkButton{
    background-color: gold;
    font-size: 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

#Quizlist{
    background-color: white;
    border: solid 2px black;
    justify-items: center;
}

#Quizlist.button{
    margin-bottom: 20px;
    background: aquamarine;
}

div.NotesDiv{
    background-color: white;
    border: solid black 3px;
    margin-bottom: 10px;
}

img.TwitterButton{
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#QuestionText{
    background-color: white;
    border: 2px solid black;
}
img.TwitterButton:hover{
    cursor: pointer;
}

img.Logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
